header {
  background: #fff;
}
header .header {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  height: 67px;
  background: #fff;
}
.h-left {
  display: flex;
}
.h-left > div {
  margin-right: 8px;
}
.h-left select {
  width: 84px;
  display: inline-block;
  height: 30px;
  border: none;
  margin-right: 8px;
}
.h-left .el-input {
  border: none;
  width: 150px;
}
.h-left .el-input input {
  border: none;
  height: 30px;
}
.h-left .selected {
  background: #f5f7fa!important;
}
.h-left .selected span {
  color: #ccc;
}
.h-right {
  display: flex;
}
footer {
  width: 100%;
  height: 360px;
  background: #333;
}
.f-top {
  height: 145px;
  text-align: center;
}
.f-top img {
  width: 200px;
  height: 70px;
  padding-top: 40px;
  display: block;
  margin: 0 auto;
}
.f-center,
.f-bottom {
  font-size: 14px;
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  color: #fefefe;
  font-weight: 500;
}
.f-center {
  padding-bottom: 30px;
}
.f-center > div {
  flex: 1.5;
}
.f-center > div:last-child {
  flex: 1;
}
.f-bottom {
  padding-bottom: 40px;
  font-weight: 400;
  color: #ccc;
  font-size: 13px;
}
.f-bottom > div,
.f-bottom > div > div {
  display: flex;
  padding-right: 100px;
}
.f-bottom > div > div > div:last-child,
.f-bottom > div > div > div > div:last-child {
  padding-right: 0;
}
.f-bottom > div span,
.f-bottom > div > div span {
  padding-top: 10px;
}
.f-bottom > div {
  flex: 1.5;
  padding-right: 0;
}
.f-bottom > div:last-child {
  flex: 1;
}
.f-bottom > div > div {
  flex-direction: column;
}
.f-bottom img {
  width: 12px;
  height: 12px;
}
.f-foot {
  border-top: 1px solid #424242;
  text-align: center;
  color: #999;
  line-height: 40px;
}
.banner {
  width: 100%;
}
.el-carousel__item img {
  color: #475669;
  font-size: 14px;
  line-height: 150px;
  margin: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}
.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
.page-nav {
  position: relative;
  background: #fff;
  padding-top: 30px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #e6e3e3;
}
.page-nav .item {
  display: inline-block;
  margin: 0 40px;
  color: #333;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: all .5s;
}
.page-nav .item .nav-children {
  position: absolute;
  background: #fff;
  height: 0;
  overflow: hidden;
  width: 100%;
  z-index: 99;
  top: 62px;
  left: 0;
  transition: ease-in-out 0.5s;
}
.page-nav .item:hover,
.page-nav .item.active {
  border-color: #007099;
}
.page-nav .item:hover .nav-children,
.page-nav .item.active .nav-children {
  height: 360px;
}
.main-one {
  background: #fff;
}
.main {
  font-size: 14px;
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
}
.index-market {
  display: flex;
  padding-top: 70px;
  padding-bottom: 20px;
  height: 436px;
}
.index-market .mar-left {
  width: 24%;
  margin-right: 20px;
}
.index-market .mar-left img {
  width: 100%;
  height: 436px;
}
.index-market .mar-left1 {
  margin-right: 0;
  margin-left: 20px;
}
.index-market .mar-right {
  flex: 1;
  border: 1px solid #e6e6e6;
}
.index-market .mar-right .top {
  text-align: center;
  height: 74px;
  line-height: 74px;
  color: #666;
}
.index-market .mar-right .bottom {
  display: flex;
}
.index-market .mar-right .bottom li {
  cursor: pointer;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 32%;
  margin: 6px;
  transition: all .5s;
}
.index-market .mar-right .bottom li:hover {
  box-shadow: 3px 3px 7px #f2f2f2, -3px -1px 7px #f2f2f2;
}
.index-market .mar-right .bottom li img {
  width: 100%;
  height: auto;
}
.index-market .mar-right .bottom li p {
  text-align: center;
  color: #666;
}
.index-market .mar-right .bottom li p span {
  font-size: 12px;
  color: #999;
}
.index-market .mar-right .bottom li .mark-content {
  line-height: 40px;
}
.index-market .mar-right .bottom li .mark-moeny {
  color: #ed4956;
  padding-bottom: 12px;
}
.market-banner {
  height: 480px;
  display: flex;
  flex-direction: column;
}
.market-banner img {
  width: 100%;
  height: 380px;
}
.market-banner h3 {
  text-align: center;
  line-height: 60px;
  color: #333;
}
.market-banner .market-shop {
  text-align: center;
  color: #333;
  font-size: 13px;
  line-height: 0;
}
.market-list {
  padding-bottom: 30px;
}
.market-list:first-child {
  padding-top: 30px;
}
.market-list:last-child {
  padding-bottom: 80px;
}
.market-list .ma-head h3 {
  text-align: center;
  color: #333;
  line-height: 60px;
  padding-bottom: 0;
}
.market-list .ma-head p {
  text-align: center;
  color: #333;
  line-height: 30px;
  padding-bottom: 20px;
}
.market-list .me-content {
  display: flex;
  flex-wrap: wrap;
}
.market-list .me-content li {
  padding: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.market-list .me-content li .me-bbox {
  cursor: pointer;
  transition: all .5s;
  border: 1px solid #f2f2f2;
}
.market-list .me-content li .me-bbox:hover {
  border: 1px solid #ececec;
}
.market-list .me-content li .me-bbox img {
  width: 100%;
}
.market-list .me-content li .me-bbox p {
  text-align: center;
  line-height: 40px;
  color: #666;
}
.market-list .me-content li .me-bbox .mark-moeny {
  line-height: 0;
  color: #333;
  padding-bottom: 20px;
}
.index-main {
  display: flex;
  flex-wrap: wrap;
}
.index-main .index-market {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 22.8%;
}
.index-main .index-market img {
  object-fit: cover;
  width: 100%;
}
.index-main .index-market p {
  text-align: center;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
